@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #36393F;
    overflow-y: hidden;
   overflow-x: hidden;
}

.chat-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: height 0.3s;
    background-color: #36393F;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.chat-open {
    height: 100vh;
}

#message-list {
    overflow-y: scroll;
    height: 100%;
    transform: scaleY(+1);
}

.reversed {
    transform: scaleY(+1);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.username {
    font-weight: bold;
    color: #7289DA;
}

.content {
    padding: 8px;
    border-radius: 5px;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

#parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#child{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}
